
@model ApplicationCore.Models.MovieCardModel

<div class="card mb-4">
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img class="img-fluid" src="@Model.PosterUrl" alt="@Model.Title">
    </a>
</div>