@model ApplicationCore.Models.PagedResultSet<ApplicationCore.Models.MovieCardModel>

@foreach(var movie in Model.Data)
{
    <partial name="_MovieCard" model="movie" />
}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @for(var i =0; i < Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="#">@i</a></li>
        }
       @* <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
  </ul>
</nav>